/* **************************** */
/* SECTION NAVBAR STARTS HERE  */
/* **************************** */

/* **************************** */
/* SECTION HERO STARTS HERE  */
/* **************************** */

.section-hero {
  background-color: #eeedde;
}
.grid-columns-hero {
  grid-template-columns: 3fr 1.5fr;
}

.hero-details {
  max-width: 54.4rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #203239;
  opacity: 0.55;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.form-box {
  border-radius: 1.5rem;
  background-color: #fff;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  max-width:90%;
  margin: 6rem 0;
  
}

.search {
  padding: 1rem;
  border: none;
  outline: none;
  width: 80%;
}

.form-box input::placeholder {
  font-size: 1.6rem;
  color: #203239;
  opacity: 0.55;
}

.form-box i {
  font-size: 2.4rem;
  background: transparent;
  color: #203239;
  padding-left: 1rem;
}

.search-btn {
  background-color: #203239;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 1.6rem 4rem;
  transition: all 0.4s ease;
  font-size: 1.6rem;
  font-weight: 600;
  box-shadow: 0 6px 8px 0 rgba(32, 50, 57, 0.253);
}

.search-btn:hover {
  background-color: #ff7527;
}


.hero-content-item p{
    max-width: 14rem;
}

.hero-content-item span{
    color: #ff7527;
}
