/* **************************** */
/* SECTION NAVBAR STARTS HERE  */
/* **************************** */

.header {
  background-color: #eeedde;
  padding: 3rem 0;
  position: relative;
}
.container-header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.main-nav-list {
  display: flex;
}

.main-nav-list li {
  font-size: 1.6rem;
  font-weight: 300;
  list-style: none;
  transition: all 0.4s ease;
}

.main-nav-list li a {
  text-decoration: none;
  color: #203239;
  margin-right: 10rem;
  position: relative;
  display: inline-block;
  transition: all 0.4s;
}

.main-nav-list li a:focus {
  font-weight: 500;
}

.main-nav-list li a:hover .fa-angle-down {
  rotate: 180deg;
}

.main-nav-list li a:hover::after {
  content: "";
  position: absolute;
  background-color: #ff7527;
  bottom: -1rem;
  left: 25%;
  height: 0.5rem;
  width: 2rem;
  border-radius: 5rem;
}

/* Dropdown Here */

.main-nav-list li {
  position: relative;
}
.main-nav-list li .dropdown {
  position: absolute;
  top: 2.2rem;
  left: 0;
  color: #203239;
  background-color: #dddbb9;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: all 0.4s;
}

.main-nav-list li .dropdown ul li {
  border-bottom: 1px solid #ff7527;
  padding: 1rem 2rem;
}

.main-nav-list li:hover .dropdown {
  transform: rotateX(0deg);
}
.dropdown ul li:hover {
  background-color: #eeedde;
  color: #203239;
}
/* Dropdown End */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  font-size: 2.4rem;
  line-height: 4.8rem;
}

/* .fa-bars-staggered{

} */

.fa-xmark {
  display: none;
}

/* Sticky Navbar */

.sticky .header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #eeeddef6;
  z-index: 2;
  height: 8rem;
  box-shadow: 0 1.2rem 3.2rem rgba(107, 107, 107, 0.2);
}

.sticky .section-hero {
  margin-top: 10.4rem;
}

/* **************************** */
/* SECTION HERO STARTS HERE  */
/* **************************** */

.section-hero {
  background-color: #eeedde;
}
.grid-columns-hero {
  grid-template-columns: 3fr 1.5fr;
}

.hero-details {
  max-width: 54.4rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #203239;
  opacity: 0.55;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.form-box {
  border-radius: 1.5rem;
  background-color: #fff;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 6rem 0;
}

.search {
  padding: 1rem;
  border: none;
  outline: none;
  width: 80%;
}

.form-box input::placeholder {
  font-size: 1.6rem;
  color: #203239;
  opacity: 0.55;
}

.form-box i {
  font-size: 2.4rem;
  background: transparent;
  color: #203239;
  padding-left: 1rem;
}

.search-btn {
  background-color: #203239;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 1.6rem 4rem;
  transition: all 0.4s ease;
  font-size: 1.6rem;
  font-weight: 600;
  box-shadow: 0 6px 8px 0 rgba(32, 50, 57, 0.253);
}

.search-btn:hover {
  background-color: #ff7527;
}

.hero-content-item p {
  max-width: 14rem;
}

.hero-content-item h1 span{
  color: #ff7527;
}
.hero-content-item span {
  color: #ff7527;
}

/* **************************** */
/* SECTION PROCESS STARTS HERE  */
/* **************************** */

.section-proccess {
  padding: 8rem 0;
}
.proccess-box {
  gap: 3rem;
}
.proccess-title {
  max-width: 53rem;
}

.process-card-box {
  border-radius: 1rem;
  border: 1px solid transparent;
}

.process-card-box:focus {
  border: none;
}
.process-card-box:hover {
  border: 1px solid #eeedde;
 
}

.card-container {
  padding: 3rem;
  position: relative;
}

.card-container::before {
  content: "";
  position: absolute;
  height: 3rem;
  width: 0.8rem;
  background-color: #ff7527;
  top: 1.7rem;
  left: 0;
  border-radius: 5rem;
}

.card-title {
  margin-bottom: 2rem;
}
.card-details {
  margin-bottom: 5rem;
  min-height: 15rem;
  line-height: 3rem;
}

.card-btn {
  position: relative;
  color: #203239;
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.8rem;
}

.card-btn::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #d6d5c7;
  width: 20%;
  height: 100%;
  z-index: -1;
  top: 0;
  transition: all 0.4s ease;
}

.process-card-box:hover .card-btn::before {
  width: 100%;
}

.fa-arrow-right-long {
  padding-left: 1rem;
}

.card-number {
  font-size: 1.6rem;
  color: #ff7527;
  font-weight: 500;
  position: absolute;
  top: 3rem;
  right: 3rem;
}

/* **************************** */
/* SECTION FAVORIT STARTS HERE  */
/* **************************** */

.section-favourite {
  background-color: #eeedde;
  padding-top: 9rem;
  padding-bottom: 16rem;
}

.medium-title {
  margin-bottom: 7rem;
}

.fav-right-box {
  justify-items: center;
  align-content: center;
}

.details-text {
  font-size: 1.6rem;
  color: #203239;
  font-weight: 300;
  line-height: 3rem;
}

.favorit-title {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 150%;
  color: #203239;
}

.btn-box-2 {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
}

.btn-favorite {
  color: #fff;
  background-color: #203239;
  font-size: 1.6rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  padding: 1.2rem 4rem;
  transition: all 0.4s ease;
}

.btn-favorite:hover {
  border: 2px solid #203239;
  background-color: #eeedde;
  color: #203239;
}
.btn-explore {
  margin-right: 6rem;
}

.fa-phone {
  padding-right: 1rem;
}

.favorite-image-box {
  position: relative;
}

.fav-front-img {
  position: absolute;
  content: "";
  top: 6rem;
  left: 8rem;
}

.favorite-image-box :nth-child(1) {
  transition: all 0.5s ease-in-out;
}

.favorite-image-box :nth-child(1):hover {
  transform: rotateY(45deg);
}

.favorite-image-box :nth-child(2) {
  transition: all 0.5s ease-in-out;
}

.favorite-image-box :nth-child(2):hover {
  transform: rotateY(-45deg);
}

/* **************************** */
/* SECTION KOTA STARTS HERE  */
/* **************************** */

.kota-details {
  font-size: 1.6rem;
  color: #203239;
  font-weight: 300;
  line-height: 3rem;
  max-width: 35.6rem;
}

.kota-box-grid {
  gap: 3rem;
  justify-items: center;
  align-content: center;
}

.kota-card-img-box {
  overflow: hidden;
  position: relative;
}

.kota-card-img-box img {
  transition: all 400ms ease-out 0s;
  position: relative;
  z-index: -1;
  width: 100%;
}

.kota-card-box:hover .kota-card-img-box img {
  transform: scale(1.2);
}

/* **************************** */
/* SECTION CONTACT STARTS HERE  */
/* **************************** */

.section-contact {
  background-color: #eeedde;
}

.contact-award-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-box {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  color: #203239;

  width: 75%;
}

.email-box,
.phone-box {
  border: 1px solid #ff7527;
  padding: 2.4rem;
}

.contact-btn {
  background-color: #ff7527;
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem 4rem;
  text-align: center;
  color: #fff;
  transition: all 0.4s ease;
}

.contact-btn:hover {
  background-color: rgba(255, 118, 39, 0.199);
  color: #ff7527;
  font-weight: 500;
}

.phone-box {
  border-radius: 1rem;
}

.address-box .fa-phone,
.fa-square-envelope {
  font-size: 3rem;
  padding-right: 2.4rem;
}

.btn-address-box {
  text-align: center;
}
.phone-box-text {
  display: flex;
  align-items: center;
}

/* **************************** */
/* SECTION FOOTER STARTS HERE  */
/* **************************** */

footer {
  background-color: #203239;
}
.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.social-box-footer {
  display: flex;
  justify-content: space-around;
  color: #fff;
  list-style: none;
}

.social-link-item {
  padding: 0 2rem;
  font-size: 1.6rem;
}
